<article id="page_page">
<?php echo $this->translate('Zend Framework is a powerful tool. Unfortunately, its complexity makes it difficult to start working. I decided to learn the Zend Framework on a specific project. This is how DiscoverPHP.com was created.<br /><br />On the internet you can find examples of simple or very complex applications. Missing something intermediate. I would like to fill this gap, so I decided to release the source code of DiscoverPHP.com.'); ?>
<br /><br />
<?php echo $this->translate('I\'ve used on this page HTML5 and CSS 3. I did it with premeditation so if something don\'t work or look bad, update/change your browser.'); ?>
<br /><br />
<?php echo $this->translate('What can you learn from the code') ?>:
<ul>
<li><?php echo $this->translate('basic configuration'); ?></li>
<li><?php echo $this->translate('how to use %s', 'Zend_Router'); ?></li>
<li><?php echo $this->translate('how to use %s', 'Zend_Config'); ?></li>
<li><?php echo $this->translate('how to use %s', 'Zend_Registry'); ?></li>
<li><?php echo $this->translate('how to use %s', 'Zend_Layout'); ?></li>
<li><?php echo $this->translate('how to use %s', 'Zend_View'); ?></li>
<li><?php echo $this->translate('how to use %s', 'Zend_Navigation'); ?></li>
<li><?php echo $this->translate('how to use %s', 'Zend_Form'); ?></li>
<li><?php echo $this->translate('how to use %s', 'Zend_Locale'); ?></li>
<li><?php echo $this->translate('how to use %s', 'Zend_Translate'); ?></li>
<li><?php echo $this->translate('how to build own helpers'); ?></li>
<li><?php echo $this->translate('how to build own plugins'); ?></li>
<li><?php echo $this->translate('HTML5 and CSS 3'); ?> :-)</li>
</ul>
<br />
...<?php echo $this->translate('and many, many more'); ?>!
<br /><br />
<?php echo $this->translate('TODO list'); ?>:
<ul>
<li><?php echo $this->translate('add comments'); ?>!</li>
<li><?php echo $this->translate('split application into modules (and add admin module)'); ?></li>
<li><?php echo $this->translate('use %s', 'Doctrine'); ?></li>
<li><?php echo $this->translate('use %s and %s', 'jQuery', 'AJAX'); ?></li>
<li><?php echo $this->translate('use %s', 'Zend_Acl'); ?></li>
<li><?php echo $this->translate('use %s', 'Zend_Cache'); ?></li>
<li><?php echo $this->translate('use %s', 'Zend_Mail'); ?></li>
<li><?php echo $this->translate('use %s', 'Zend_Paginator'); ?></li>
<li><?php echo $this->translate('use %s', 'Zend_Pdf'); ?></li>
<li><?php echo $this->translate('use %s', 'Zend_Session'); ?></li>
</ul>
<br />
...<?php echo $this->translate('and it is only the beginning'); ?> :-)
<br /><br />
<?php echo $this->translate('Used version of Zend Framework'); ?>: <strong><?php echo Zend_Version::VERSION; ?></strong>
<br /><br />
<?php echo $this->translate('Go for the'); ?> <a href="<?php echo $this->url(array(), 'source');?>"><?php echo $this->translate('source code'); ?></a>!
</article>