<article id="page_page">
<?php echo $this->translate('DiscoverPHP.com is an open source project written in Zend Framework (PHP). Here you can get source files.'); ?>
<br /><br />
<?php echo $this->translate('Used version of Zend Framework'); ?>: <strong><?php echo Zend_Version::VERSION; ?></strong>
<br /><br />
<table id="source_table">
<tr>
<td>Git:</td>
<td>git@bitbucket.org:MariuszT/discoverphp.com.git</td>
</tr>
<tr>
<td></td>
<td><a href="https://bitbucket.org/MariuszT/discoverphp.com" target="_blank">https://bitbucket.org/MariuszT/discoverphp.com</a></td>
</tr>
</table>
</article>