<article id="main_page">
<?php echo $this->translate('Sometimes you need to quickly use some functions in PHP such as base64_encode or generate the MD5 hash. Creating a new PHP script for such a trivial action is a waste of time. This page comes with the help. In a simple and quick way you can use many functions of PHP.'); ?>
<br /><br />
<?php echo $this->translate('None of the data that you enter in forms are stored in database!'); ?>
<br /><br />
<?php echo $this->translate('Page DiscoverPHP.com was created as a place to learn the <a href="http://framework.zend.com/" target="_blank">Zend Framework</a>. On the page "<a href="%s">Genesis</a>" you can read more about it and on the page "<a href="%s">Download source</a>" you can download the source code.', $this->url(array(), 'genesis'), $this->url(array(), 'source')); ?>
</article>