/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

strong {
font-weight: bold;
}
/* end of reset */


body {
color: #616161;
background-color: #999999;
font-size: 12px;
font-family: Verdana, Arial, sans-serif;
}

a {
color: #9F332B;
text-decoration: none;
}

a[target="_blank"] {
padding-right: 18px;
display: inline-block;
line-height: 18px;
background: url(img/new_window.png) center right no-repeat;
}

a:hover {
text-decoration: underline;
}

input[type="submit"] {
padding: 3px 7px;
font-size: 14px;
color: white;
background-color: #9F332B;
border: 1px solid #616161;
}

.clear {
clear: both;
}

#page {
margin: 0 auto;
width: 980px;
padding: 10px;
position: relative;
background-color: white;
}

header {
margin-top: 15px;
}

header #languages {
position: absolute;
top: 10px;
right: 10px;
}

header #logo {
float: left;
width: 640px;
font-size: 26px;
font-weight: bold;
line-height: 50px;
text-shadow: 0 1px 2px #616161;
}

header #logo a {
color: black;
}

header #logo a:hover {
text-decoration: none;
}

header #logo span {
color: white;
background-color: #9F332B;
padding: 4px;
margin: 4px;
}

header #cloud {
margin-bottom: 15px;
float: left;
width: 340px;
}

header #genesis {
clear: both;
margin: 15px 0;
padding: 10px 35px;
color: white;
background-color: #616161;
}

header #genesis a {
color: white;
font-weight: bold;
font-size: 13px;
}

menu {
margin-bottom: 45px;
width: 190px;
padding: 8px;
float: left;
list-style: none;
line-height: 20px;
background-color: #9F332B;
color: white;
}

menu li#menu-title {
margin: 10px 0 10px 7px;
font-size: 16px;
font-weight: bold;
}

menu li.active {
font-weight: bold;
background-color: #616161;
}

menu li a {
padding: 3px 7px;
width: 176px;
display: block;
color: white;
}

menu li a:before {
content: '» ';
font-size: smaller;
}

menu li a:hover {
font-weight: bold;
background-color: #616161;
text-decoration: none;
}

article {
margin: 15px 20px 45px 20px;
width: 734px;
float: left;
line-height: 18px;
}

article#main_page {
font-size: 16px;
line-height: 26px;
}

article#error_page #error_message {
margin: 40px auto 0 auto;
width: 400px;
}

article#error_page #error_message h1 {
font-weight: bold;
font-size: 14px;
}

article#error_page #error_message h2 {
margin-top: 20px;
font-size: 20px;
font-weight: bold;
color: #9F332B;
}

article#page_page {
font-size: 16px;
line-height: 26px;
}

article#page_page ul {
margin-left: 20px;
list-style-type: circle;
}

article#page_page table#source_table td:first-child {
width: 100px;
}

article#function_page .function {
clear: both;
margin-bottom: 50px;
}

article#function_page .function:last-child {
margin: 0;
}

article#function_page h2 {
margin-bottom: 15px;
font-size: 20px;
font-weight: bold;
color: #9F332B;
}

article#function_page .description {
margin-bottom: 25px;
width: 734px;
clear: both;
}

article#function_page .description td {
padding: 5px 0;
}

article#function_page .description .description-name {
width: 100px;
font-weight: bold;
}

article#function_page .zend_form dt {
margin-bottom: 5px;
}

article#function_page .zend_form label {
font-weight: bold;
font-size: 14px;
}

article#function_page .zend_form textarea {
width: 343px;
border: 1px solid #616161;
}

article#function_page .zend_form .source-row {
width: 385px;
float: left;
}

article#function_page .zend_form .submit {
margin-top: 5px;
width: 385px;
float: left;
clear: both;
}

article#function_page .zend_form .submitCopy {
margin-top: 5px;
}

article#function_page .zend_form div:last-child {
float: none;
}

article#function_page .zend_form .errors {
width: 315px;
margin: 5px 0;
padding: 8px 15px;
color: white;
background-color: #616161;
}

footer {
margin-bottom: 15px;
height: 50px;
padding: 10px 35px;
clear: both;
color: white;
background-color: #616161;
line-height: 50px;
}

footer #links a {
margin-right: 15px;
float: left;
color: white;
}

footer #logos {
margin-top: 5px;
text-align: right;
}

footer #logos a {
margin-left: 15px;
}